.centrar{

    text-align: center;

}

.encabezado{
    background-color: gray;
}

.portada{

    background-image: url("images/CC1.jpg");
    width: 100%;
    
    padding: 30px;
}

.link-seccion{

    display: inline-block;
    background-color: deepskyblue;
    font-size: 20px;
    height: 100px;
    width:100%;
    border-radius: 5px;
    padding-top: 4%;
}

.link-seccion:hover{
    background-color: darkslateblue;
    color:white;
}

.secciones{
    margin: 5px;
}

.plano{
    text-align: center;

    height: 500px;
    width: 80%;
}

.container-contacto{
        background-color: #2b99a5;
}   

.formulario-contacto{
    background-color: #f0f0f0;
    margin: 14%;
    border-radius: 10px;
    padding: 2%;
}